/* You can add global styles to this file, and also import other style files */
html, body {
  font-family: "Saira", sans-serif;
}

h1, h2, h3 {
  font-family: "Saira", sans-serif;
  font-weight: 700;
}

p, span, div {
  font-family: "Saira", sans-serif;
  font-weight: 400;
}